/Manifest.toml
paper/figures/*
paper/animations/*
paper/logs/*
.vscode/ltex.dictionary.en-US.txt
*.code-workspace

# ignore most of the tex garbage
paper/tex/*
!paper/tex/*.tex
!paper/tex/*.cls
!paper/tex/*.bst
!paper/tex/*.bib

