/Manifest.toml
*.gif
*.png
old/**
*.aux
*.bbl
*.loc
*.log
*.soc
*.pdf
*.vtu
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.gz
*.fls
*.fdb_latexmk
*.synctex.gz
*.svg
.vscode/ltex.dictionary.en-US.txt
*.code-workspace